* {
        
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto ;
    padding: 0 ;
}

body {

    padding: 0px;
    margin: auto 20px   ;
}

.index {

    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

main_text {

    margin-left: 4px;
}

header {

    
    height: 152px;
    padding: 20px 0;
}
.logo {

    display: flex;
    height: 180px;
    width: 150px;
  
}

.menu {
    padding-top: 30px;
    width: 80%;
    text-align: right;

}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

section.sobre {

    height: calc (100%-200px);
    position: relative;
}

.extras{

    position: absolute;
    bottom: -420px;
    right: -450px;
    width: 900px;
    height: 800px;
    border-radius: 50%;
    
    background-color: red;
    max-width: 1000px;
}

.mainplate {
    display: flex;
    width: 10cm;
    right: -800px;
    padding: 20px;
}

.social_media {
    
    position: absolute;
    display: flex;
    width: 25x;
    height: 25px;
    top: 350px;
    left: 100px;
    margin: 0;
    
}

.social_media img{

    height: 30 px;
    width: 25px;
    background-color: white;
    margin-right: 80px;
    
}

.interior {

    margin-top: -20px;
    display: flex;
    margin-left: 130px;
    width: 400px;
    height: 400 px;

}

footer {
    
    text-align: center;
    background-color: grey;
    margin: auto -38px;
    max-width: 1365px;
      
}

.form {
    
    background-color: yellow;
    margin-left: 350px ;
    margin-right: 550px ;
    width: auto;
    height: auto;
    min-height: 250px;
    min-width: 250px;
    padding: 15px;
    border-radius: 10%;
    
}

#order {

    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-left: auto 20px;

}

#item {

    margin-left: auto 60px;
    margin: auto;
}

h1 {

    text-align: center;
}

#order1 {
    display: flex;
    margin: 50px;
}

.creditcard {

    margin-left: 50px;
    padding: 0;
    

}

.paymant {

    align-content: center;
    margin: 60px auto;
    padding: 0;
    margin-left: 300px ;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;

}

article {

    
    margin-left: 300px;
    text-align: justify;
    
}